<div class="container">
    <h2>Login</h2>
    <form name="myForm" id="formReg" ng-submit="sendData(user)" novalidate>

        <p>Username*: <input type="text" name="username"  ng-model="user.username" ng-required="true" ng-minlength="3"
                ng-maxlength="6"
                ng-class="{'invalid-field': myForm.username.$invalid && myForm.username.$dirty, 'valid-field': myForm.username.$valid}" />
            <span ng-show="myForm.username.$invalid && myForm.username.$dirty" class="error-message">
                <span ng-show="myForm.username.$error.minlength">Deve esser lungo almeno 3 caratteri</span>
                <span ng-show="myForm.username.$error.maxlength">Deve esser lungo massimo 6 caratteri</span>
            </span>
        </p>
        <p>Password*: <input type="password" name="password" ng-required="true" ng-model="user.password"
            ng-class="{'invalid-field': myForm.password.$invalid && myForm.password.$dirty, 'valid-field': myForm.password.$valid}" />
        <span ng-show="myForm.password.$invalid && myForm.password.$dirty" class="error-message">Questo campo non è
            valido</span>
    </p>
    <button type="submit" class="btn" ng-class="{'btn btn-success': myForm.$valid, 'btn btn-danger': myForm.$invalid}"
    ng-disabled="myForm.$invalid">Accedi</button>
    </form>
    <a ng-click="redirect('/registration')">Non ancora registrato?</a>
</div>