<h1>{{user.getUser().username}}</h1>
<div class="container">
    <form name="impostazioni_profilo" ng-click="user.updateUser(user)" >
        <p><input type="text" ng-model="user.getUser().username" /></p>
        <button type="submit" class="btn">Modifica profilo</button>
    </form>
    
</div>
