<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<!-- commento -->

<body>

  <h1>Spieghiamo angularjs</h1>
  <p>Scaricalo da <a href="https://angularjs.org/" target="_blank">qui</a></p>


  <div ng-app="myApp">

    <div ng-controller="myController">

      <ul>
        <li class="clickable-users" ng-repeat="utente in listaUtenti | orderBy: 'name'"  ng-click="utenteCliccato(utente.id)">
          {{utente.name}}
        </li>
      </ul>


      <ul>
        <li ng-repeat="post in listaPost">
          {{post.title}}
        </li>
      </ul>
    </div>

    <div ng-controller="elencoController">
      <p>{{data}}</p>

    </div>

  </div>


  <script src="lib/angular/angular.min.js"></script>
  <script src="js/mock_data.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/mainCtrl.js"></script>
</body>

</html>