#fisso{
    width: 500px;
    height: 400px;
    background-color: bisque;
}

.nuovo{
    background-color: aqua;
}
.card-utente{
    height: 50px;
    background-color:aqua;
}

#dettaglioUtente{
    display: inline-block;
    width: 40%;
    height: 300px;
    margin-right: 50px;
    background-color: blueviolet;
    float: right;
}

.dettaglio-lista-utenti{
    width: 500px;
    height: 500px;
}
#posts{
    width: 500px;
    height: 600px;
    background-color: aqua;
}
