<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>
  <link rel="stylesheet" href="../provaAngularBase/style.css">
  <link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.css">

</head>

<body>
  <!--ng-app serve per definire il punto di inizio di angular-->
  <div id="qui_dentro_viene_eseguito_angular" ng-app="myApp">

    <h1>AngularJS - Recap exercise</h1>
    <br>

      <div ng-controller="controllerDati">
        <h3>Create an element</h3>
        <p><input type="text" ng-model="titolo" placeholder="Enter the title"/>
        <input type="text" ng-model="contenuto" placeholder="Enter the content"/>
        <button type="button" class="btn btn-danger" ng-click="aggiungiElemento()">Save element</button><br><br>
          
        <b>Data entered</b><br>
          Title: {{titolo}}<br>
          Content: {{contenuto}}<br></p>
      </div>

        <div ng-controller="controllerLista">
          <ul>
            <li ng-repeat="elemento in todoListItems | filter:{titolo:filtroNome}">
            <b>Title: {{elemento.titolo | uppercase}}</b>
            <p>Content: {{elemento.contenuto}}</p></li>
          </ul>
        </div>

        <div ng-controller="controllerFiltri">
          <p>Search in TODO list: <input type="text" ng-model="filtroNome"/></p>
          <button type="button" class="btn btn-danger" ng-click="aggiorna()">Update</button>
        </div>


  <div ng-controller="userController">
    <ul>
      <li ng-repeat="p in listaPost">{{p.title}}</li>
    </ul>
  </div>
</div>


  <script src="../lib/angular/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="datiCtrl.js"></script>
  <script src="filtriCtrl.js"></script>
  <script src="listaCtrl.js"></script>
  <script src="services.js"></script>
  <script src="chiamataHttp.js"></script>
</body>
</html>