<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link rel="stylesheet" href="../provaAngularBase/style.css">
  <link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.css">

</head>

<body>
  <!--ng-app serve per definire il punto di inizio di angular-->
  <div id="qui_dentro_viene_eseguito_angular" ng-app="puntoInizio">

    <h1>AngularJS</h1>
    <p>Scaricalo da  <a href="https://angularjs.org/" target="_blank">qui</a></p>

    <div id="racchiudi">
      <p><h4>Crea Utente:</h4></p>
      <div ng-controller="controllerUtente" id="id1">
        
        <p><input type="text" ng-model="name" placeholder="Inserisci il nome"/>
        <input type="text" ng-model="surname" placeholder="Insersci il cognome"/>
        <input type="text" ng-model="email" placeholder="Inserisci l'email"/>
        <input type="text" ng-model="username" placeholder="Inserisci l'username"/><br><br>
        <b>Dati inseriti in Utente:</b><br>
        Nome: {{name}}<br>
        Cognome: {{surname}}<br>
        Email: {{email}}<br>
        Username: {{username}}</p>
      </div>

    <h4>Crea Post:</h4>
    <div ng-controller="controllerPost" id="id2">
      
      <p><input type="text" ng-model="post" placeholder="Inserisci il post"/>
      <input type="text" ng-model="contenuto" placeholder="Insersci il contenuto"/><br><br>
        <b>Dati inseriti in Post:</b><br>
        Post: {{post}}<br>
        Contenuto: {{contenuto}}</p>
    </div>
  </div>

  <br>

  <div ng-controller="utentiLista" id="id3">
    <div class="row">
      <div class="col-xs-12">
        <h4>Utenti</h4>
      </div>

      <div class="col-xs-12 users-col">
        <div class ="row grid">
          <p>Filtra per nome: <input type="text" ng-model="filtroNome"/></p>
          <div ng-repeat="utente in utenti | orderBy:'name' |filter:{name:filtroNome}" class="card-group col-sm-4" id="classeCard" ng-click="mostraMessaggio(utente.id)">
            <div class="card">
              <div class="card-body">
                <ul>
                <li><h6><b>Id:</b> {{utente.id}}</h6></li>
                <li><h6><b>Name:</b> {{utente.name}}</h6></li>
                <li><h6><b>Username:</b> {{utente.username}}</h6></li>
                <li><h6><b>E-mail:</b> {{utente.email}}</h6></li>
                <li><h6><b>Address:</b></h6></li>
                  <ul>
                    <li><h6><b>Street:</b> {{utente.address.street}}</h6></li>
                    <li><h6><b>Suite:</b> {{utente.address.suite}}</h6></li>
                    <li><h6><b>City:</b> {{utente.address.city}}</h6></li>
                    <li><h6><b>Zipcode:</b> {{utente.address.zipcode}}</h6></li>
                  </ul>
                <li><h6><b>Geo:</b></h6></li>
                  <ul>
                  <li><h6><b>Street:</b> {{utente.address.geo.lat}}</h6></li>
                    <li><h6><b>Street:</b> {{utente.address.geo.lng}}</h6></li>
                  </ul>
                <li><h6><b>Phone:</b> {{utente.phone}}</h6></li>
                <li><h6><b>Website:</b> {{utente.website}}</h6></li>
                <li><h6><b>Company:</b></h6></li>
                  <ul>
                    <li><h6><b>Name:</b> {{utente.company.name}}</h6></li>
                    <li><h6><b>CatchPhrase:</b> {{utente.company.catchPhrase}}</h6></li>
                    <li><h6><b>Bs:</b> {{utente.company.bs}}</h6></li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div ng-repeat="post in listaDiPost | orderBy:'title'" ng-click="mostraCommenti(post.id)">
    <ul>
      <li><h6><b>Title:</b>{{post.title}}</h6></li>
      <ul ng-repeat="commenti in listaDiCommenti | orderBy:'title'">
        <li><h6><b>Commenti:</b>{{commenti.body}}</h6></li>
      </ul>
    </ul>
  </div>
  </div>
</div>

  <script src="../lib/angular/angular.min.js"></script>
  <!--<script src="../provaAngularBase/post.js"></script>-->
  
  <script src="../provaAngularBase/commenti.js"></script>
  <script src="../provaAngularBase/angular.js"></script>
</body>
</html>