<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <h1>Spieghiamo angularjs</h1>
  <p>Scaricalo da  <a href="https://angularjs.org/" target="_blank">qui</a></p>


<div ng-app="myApp">
    <div ng-controller ="myController" id="controller1">
      <br>
      <p> Nome: <input type="text" ng-model="user.name" /></p>
      <p> Cognome: <input type="text" ng-model="user.surname"/></p>
      <p> email: <input type="text" ng-model="user.email"/></p>
      <button type="button" ng-click="mostraMessaggio()" >Cliccami</button>
      <br>
      <div id="div-form">
        <h2> {{user.name}}</h2>
        <!--ng-bind mi permette di non usare le graffe-->
        <!-- ng-hide nascode, invece con ng-show lo mosta, ma forse puo anche ess
        non messo -->
        <h2 ng-bind= "user.name" ng-hide ="true"></h2>
        <p> nome: {{user.name}}</p>
        <p> cognome: {{user.surname}}</p>
        <p> email: {{user.email}}</p>
        <br>
    </div> 
  </div>
  <br>
  <br>
  <div ng-controller = "myController2" id="controller2">
    <br>
    <!--chiamo il nome peppe e lo porto un upppercase con il filtro |  -->
    <p>{{name | uppercase}}</p>
    <!--altri filtri per le date-->
    <p>{{ora | date}}</p>
    <p>{{ora | date: "dd-MM-yyyy"}}</p>
    <!--ordinare un aray con orderBy-->
    <p>{{numeriAcaso | orderBy}}</p>
    <!--ng-repeat=" nome in elencocittà | filter: {nome: input}"-->
    <p>il tuo post: <input type="text" ng-model="post"></p>
    <p>il post che hai scritto: </p>
    <p>{{saluta()}}</p>
    <p>{{post}}</p>
    <div ng-repeat = "user in lista"> 
      <div id ="colore">
        <h2>{{user.name}}</h2>
        <p>{{user.email}} || id:{{user.id}} </p>
        <ul id="ul_colorato">
          <li ng-repeat="(key,value) in user.indirizzo" id="spazio">{{key}}: {{value}}</li>
          <hr>
          <button type="button" ng-click="mostraPost(user.id)">clicca per il post</button>
        </ul>
        <br>
      </div>
    </div>
    <div id="div_destra">
      <ul>
        <li ng-repeat="post in listaPost" >
          {{post.title}}
        </li>
      </ul>
    </div>
    <div id="div_con_filtro">
      <p><b> nomi ordinati per lettera</b></p>
      <ul>
        <!-- faccio una lista ordinata per la prima lettera dei nomi-->
        <li ng-repeat = "user in lista | orderBy:'name': false">{{user.name}} </li>
      </ul>
      <hr>
      <br>
      <p> <b id="col"> filptra per il nome dell'utente </b></p>
      <input type="text" ng-model="inputNome" >
      <ul id="secondo_ul">
        <!--faccio un input, e filtro per quello-->
        <li ng-repeat = "user in lista | orderBy:'name': false | filter:{name: inputNome}">{{user.name}}</li>
      </ul>
    </div>
  </div>

  </div>
</div>

  <script src="lib/angular/angular.min.js"></script>
  <script src="js/post.js"></script>
  <script src="js/app.js"></script>
</body>

</html>