#listautente {
    width: 45%;
    min-height: 100px;
    grid-template-columns: fit-content(80px) fit-content(80px) 1fr;
    display: inline-block;
}

#dettaglioUte.detaglio-visibile {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: white;
    width: 45%;
}

#dettaglioUte {
    width: 39%;
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
    
}

.card-utente {
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: white;

    display: inline-block;
    width: 40%;
    min-height: 80px;
    
    
}
.card-utente:hover {
    opacity: .5;
}
