<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="myApp">

  <h1>Esercizio angularjs</h1>

  <div ng-controller="myController">

    <div class="contenitore2">
      <h2>Inserisci Post TODO</h2>
      <p>Titolo: <input type="text" ng-model="title"></p>
      <p>Contenuto: <textarea ng-model="body"></textarea></p>
      <button type="button" ng-click="salva()">Salva</button>
    </div>

  </div>
  <div ng-controller="filterController as filtroCtrl">
    <div class="contenitore2">
      <h2>Ricerca nella lista per filtro</h2>
      <p><input type="text" ng-model="filtroCtrl.filtroLista"></p>
      <!-- <button ng-click="getFiltra()">filtra</button> -->
    </div>
    <div ng-controller="postController">
      <div class="contenitore2" ng-show="posts.length">
        <hr>
        <h2>Lista TODO {{filtroCtrl.filtroLista}}</h2>
        <ol>
          <li ng-repeat="post in posts | filter:{title: filtroCtrl.filtroLista}">
            <h4>{{post.title}}</h4>
            <p>{{post.body}}</p>
          </li>
        </ol>
      </div>

    </div>
  </div>


  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" defer></script>-->
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>