<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div ng-app="myApp">
    <div ng-controller="contrUtente">
      <p>Nome utente:<input ng-model="nomeUtente"></p>
      <p>Username:<input ng-model="usernameUtente"></p>
      <p>Email:<input ng-model="emailUtente"></p>
      <br>
      <div>
        <my-user></my-user>
      </div>
      
    </div>

    <script type="text/ng-template" id="/myUserCardTemplate.html">
      <div>
        <h2>{{nomeUtente}}</h2>
        <h4>{{usernameUtente}}</h4>
        <h4>{{emailUtente}}</h4>
      </div>
        
      </script>
  </div>


  <script src="lib/angular/angular.min.js"></script>

  <script src="js/direttiva.js"></script>
</body>

</html>