
.card {
    padding: 3px;
    margin: 5px;
    border: 0.7px solid black;
    border-radius: 3px;
    transition: box-shadow 0.5s ease-in-out;
}
.card:hover {
    box-shadow:0 5px 15px rgba(0,0,0,0.3), 
    1px 5px 10px rgba(0,0,0,0.3);
    
}
.card-selected {
    padding: 3px;
    margin: 5px;
    background-color: grey;
    color: azure;
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15),
    1px 1px 1px rgba(0,0,0,0.3);
}

.bottone {
    border: 0px;
    background-color: transparent;
    font-size: 25px;
    float: right;
}

.invisible {
    display: none;
}

.containerPost {
    animation-name: entrance;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes entrance {
    from{left: 300px; opacity: 0;}
    to{left: 0; opacity: 1;}
}
@keyframes exit {
    from{left: 0; opacity: 0;}
    to{left: 330px; opacity: 1;}
}

.post {
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    background-color: rgb(165, 168, 170);
}
.post p {
    font-size: 10px;
}
.post h2 {
    font-size: 15px;
    font-weight: bold;
}
