<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<!-- commento -->

<body>

  <h1>Spieghiamo angularjs</h1>
  <p>Scaricalo da <a href="https://angularjs.org/" target="_blank">qui</a></p>


  <div ng-app="myApp">


    <div ng-controller="creaItemCTRL">
      
      <h3>Crea elemento per la TODO list</h3>
      <p>Titolo: <input type="text" ng-model="newTodoItemTitle" /></p>
      <p>Contenuto: <input type="text" ng-model="newTodoItemContent" /></p>
      <button type="button" ng-click="createNewElement()">Aggiungi</button>

    </div>

    <hr/>

    <div ng-controller="visualizzaConFiltro">
      <h2>nuova parte con filtro</h2>
    
      <h3>ToDo list</h3>
      <p>filtra tramite l'input: <input type="text" ng-model="newfiltrolista"></p>
      <button type="button" ng-click="visualizzaIlFiltro()">visualizza il filtro</button>
      <ul>
        <li ng-repeat="item in todoListItems | filter:{title: newfiltrolista}">
          <b>{{item.title}}</b>
          <p>{{item.content}}</p>
        </li>
      </ul>
    </div>
    </div>


  <script src="lib/angular/angular.min.js"></script>
  <script src="js/mock_data.js"></script>

  <script src="js/app.js"></script>
  
  <script src="js/services/todo_list.js"></script>
  
  <script src="js/controllers/crea_element.ctrl.js"></script>
  <script src="js/controllers/lista.ctrl.js"></script>
  <script src="js/controllers/viewConFiltro.js"></script>

</body>

</html>