<form name="formLog" ng-submit="logged()" novalidate>
    <p>Username: <input type="text" name="username" required ng-model="user.username" ng-maxlength="6" ng-minlength="3"
        ng-class="{'invalid-field': formLog.username.$invalid && formLog.username.$dirty, 'valid-field': formLog.username.$valid}"/>
    <span ng-show="formLog.username.$invalid && formLog.username.$dirty" class="error-mess">Questo campo non è valido</span>
    </p>
    <p>Mail: <input type="text" name="email" required ng-model="user.email" ng-maxlength="6" ng-minlength="3"
        ng-class="{'invalid-field': formLog.email.$invalid && formLog.email.$dirty, 'valid-field': formLog.email.$valid}"/>
    <span ng-show="formLog.email.$invalid && formLog.email.$dirty" class="error-mess">Questo campo non è valido</span>
    </p>
    <p>Password: <input type="password" name="password" required ng-model="user.password" ng-maxlength="6" ng-minlength="3"
        ng-class="{'invalid-field': formLog.password.$invalid && formLog.password.$dirty, 'valid-field': formLog.password.$valid}"/>
    <span ng-show="formLog.password.$invalid && formLog.password.$dirty" class="error-mess">Questo campo non è valido</span>
    </p>
    <button type="submit" ng-disabled="formLog.$invalid" >Invia</button>
</form>