<form name="formReg" ng-submit="reg(user)" novalidate>
    <p>Nome: <input type="text" name="name" ng-model="user.name" required ng-maxlength="6" ng-minlength="3"
            ng-class="{'invalid-field': formReg.name.$invalid && formReg.name.$dirty, 'valid-field': formReg.name.$valid}"/>
        <span ng-show="formReg.name.$invalid && formReg.name.$dirty" class="error-mess">Questo campo non è valido</span>
        </p>
        <p>Cognome: <input type="text" name="cognome" required ng-model="user.cognome" ng-maxlength="6" ng-minlength="3"
            ng-class="{'invalid-field': formReg.cognome.$invalid && formReg.cognome.$dirty, 'valid-field': formReg.cognome.$valid}"/>
        <span ng-show="formReg.cognome.$invalid && formReg.cognome.$dirty" class="error-mess">Questo campo non è valido</span>
        </p>
        <p>Username: <input type="text" name="username" required ng-model="user.username" ng-maxlength="6" ng-minlength="3"
            ng-class="{'invalid-field': formReg.username.$invalid && formReg.username.$dirty, 'valid-field': formReg.username.$valid}"/>
        <span ng-show="formReg.username.$invalid && formReg.username.$dirty" class="error-mess">Questo campo non è valido</span>
        </p>
        <p>Mail: <input type="text" name="email" required ng-model="user.email" ng-maxlength="6" ng-minlength="3"
            ng-class="{'invalid-field': formReg.email.$invalid && formReg.email.$dirty, 'valid-field': formReg.email.$valid}"/>
        <span ng-show="formReg.email.$invalid && formReg.email.$dirty" class="error-mess">Questo campo non è valido</span>
        </p>
        <p>Password: <input type="password" name="password" required ng-model="user.password" ng-maxlength="6" ng-minlength="3"
            ng-class="{'invalid-field': formReg.password.$invalid && formReg.password.$dirty, 'valid-field': formReg.password.$valid}"/>
        <span ng-show="formReg.password.$invalid && formReg.password.$dirty" class="error-mess">Questo campo non è valido</span>
        </p>
        <p>Accetti la privacy? <input type="checkbox" required name="check" ng-model="user.privacy"/>
            <span ng-show="user.privacy==false" class="error-mess">Devi accettare la privacy!</span>
        </p>
        <p>Sesso:
            M <input type="radio" ng-model="user.gender" value="male"/>
            F <input type="radio" ng-model="user.gender" value="female"/>
            
        </p>

        <button type="submit" ng-disabled="formReg.$invalid" >Invia</button>
   
</form>
<a ng-click="accedi()">Già registrato?</a>