#main {
  width: 100%;
  height: 100%;
  padding: 15px;
}
#containers {
  margin: 15px;
}

.scheda {
  position: relative;
  float: left;
  width: 300px;
  height: auto;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
}

.scheda div {
  margin-bottom: 3px;
}

.scheda:hover {
  background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
  background-repeat: repeat-x;
  border-color: #2b669a;
  text-shadow: 0 -1px 0 #286090;
  color: #fff;
}

.schedaActive {
  background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
  background-repeat: repeat-x;
  border-color: #2b669a;
  text-shadow: 0 -1px 0 #286090;
  color: #fff;
}

.list {
  height: 550px;
  overflow-y: scroll;
}

.open {
  display: block;
}
