.user-card {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    background-color: red;
    font-weight: bold;
}

.colore-bianco {
    color: white !important;
}

.verde {
    color: green;
}

.font-grande {
    font-size: 50px;
}

.clickable-users {
    cursor: pointer;
}

.clickable-users:hover {
    opacity: .5;
}

.blocco-input {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 10px;
}
.valid-message{
    color: green;
}
.error-message{
    color: red;
}
