#container
{
    width: 90%;
    margin-top: 2%;
    margin-left: 10%;
    
}

#contenitoreDiCard
{
    width: 80%;
    margin: auto;
    display: inline-block;
}

a:link
{
    text-decoration: none;
}

#blocco1
{
    width: 60%;
    margin-top: 2%;
    display: inline-block;
    margin-left: 10%; 
}

#blocco2
{
    width: 20%;
    margin-top: 2%;
    display: inline-block;
}

.cambiocolore
{
    color:red;
}

#immagine
{
    width:25px;
    height: 25px;
}

#bottoneImmagine
{
    margin-left: 10%;
    display: inline-block;
}