<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AngularJs Base</title>

    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>Spieghiamo angularjs</h1>
    <p>Scaricalo da <a href="https://angularjs.org/" target="_blank">qui</a></p>

    <!--  <div ng-app="myApp">
      <div ng-controller="myController">
         questo è il modo più semplice per spiegare angularjs
        <p>
          Inerisci il tuo nome :
          <input type="text" placeholder="il tuo Nome..." ng-model="name" />
        </p>
        <p>
          Inerisci il tuo cognome :
          <input
            type="text"
            placeholder="il tuo Cognome..."
            ng-model="surname"
          />
        </p>
        <p>Nome: {{name}}</p>
        <p>Cognome: {{surname}}</p>
      </div>
    </div> -->

    <!--<div ng-app="start">
      <div ng-controller="controller">
        <p>inserisci il Nome
          <input type="text" ng-model="user.nome"/>
        </p>
        <p>inserisci il Cognome
          <input type="text" ng-model="user.cognome"/>
        </p>
        <p>inserisci l'email
          <input type="text" ng-model="user.email"/>
        </p>
        <p>inserisci username
          <input type="text" ng-model="user.username"/>
        </p>
        <div>
          <p>Nome: {{user.nome}}</p>
          <p>Cognome: {{user.cognome}}</p>
          <p>Email: {{user.email}}</p>
          <p>Username: {{user.username}}</p>
        </div>
        <h2>{{saluta()}}</h2

      </div>
    </div>>-->

    <div ng-app="begin">
      <div ng-controller="ctn">
        <p>FILTRA PER nome: <input type="text" ng-model="filtroNome"/></p>
        {{user.name}}

        <div ng-repeat="user in utenti | orderBy: 'name' " class="name" text-align="center">
          {{user.name}}
          <li>{{user.id}}</li>

          <p class="username">USERNAME: {{user.username}}</p>
          <p class="email">email: {{user.email}}</p>
          <p class="citta">CITTA': {{user.address.city}}</p>
          <p>Telefono: {{user.phone}}</p>
          <button ng-click="commenti(user.id)">clicca per vedere i post</button>
          <button ng-click="comments(user.id)">clicca per vedere i commenti</button>
        </div>
        <div ng-repeat="posts in listaPost | orderBy: 'b'">
          {{posts.title}}

        </div>
        <div>
          <ul>
            <li ng-repeat="commenti in listaCommenti">
              {{commenti.body}}
            </li>
          </ul>
         

        </div>
        
      </div>
    </div>
    <script src="js/data_users.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
