<form name="formLogin" novalidate>
    <div class="form-group group">
        <label for="Name">Name</label>
        <input type="text" id="inputName" name="name" placeholder="Name" ng-model="user.name">
    </div>
    <div class="form-group">
        <label for="Cognome">Cognome</label>
        <input type="text" id="inputSurname" name="surname" placeholder="Cognome" ng-model="user.surname">
    </div>
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" id="inputUsername" name="username" placeholder="Username" ng-model="user.username">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" ng-model="user.password">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" id="inputEmail" name="email" placeholder="Email" ng-model="user.email">
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="user.privacy"> Accettazione Privacy
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="Sesso">Sesso</label>
        <div class="radio">
            <label>
                <input type="radio" name="sesso" id="sessoM" value="M" ng-model="user.gender">
                M
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sesso" id="sessoF" value="F" ng-model="user.gender">
                F
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Sign in</button>
    </div>
</form>