body {
    background-color: rgba(56, 156, 131, 0.986);
}

.redish{
    background-color: rgb(138, 30, 66);
}

.blueish{
    background-color: rgb(75, 43, 134);
}

.greenish{
    background-color: rgba(56, 156, 131, 0.986);
}