<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="myApp">

  <h1>Spieghiamo angularjs</h1>



  <div ng-controller="myController">
    <div id="elenco" class="contenitore">
      <p>Filtro Utenti <input type="text" ng-model="filtroUtente"></p>
      <div ng-repeat="utente in users | orderBy:'name'  | filter:{name: filtroUtente}" ng-class="manina" class="hover"
        ng-click="mostraPost(utente.id, utente.name)">
        <p><b>Name:</b> {{utente.name}}</p>
        <!-- <p><b>Username:</b>{{utente.username}}</p>
        <p><b>Email:</b> <a href="{{'mailto:'+utente.email}}">{{utente.email}}</a></p>
        <p><b>Address</b>
        <ul>
          <li ng-repeat="(key, value) in utente.address">
            <span><b>{{key}}:</b></span> <span>{{value}}</span>
          </li>
        </ul>
        </p>
        <p><b>Phone:</b> {{utente.phone}}</p>
        <p><b>WebSite:</b> {{utente.website}}</p>
        <div>
          <b>Company</b>
          <p ng-repeat="(key, value) in utente.company"><b>{{key}}:</b> {{value}}</p>
        </div> -->
        <hr>
      </div>
    </div>
    <div id="dettaglioPost" class="contenitore" ng-show="utenteScelto !== ''">
      <h2 ng-bind="nameUser">
      </h2>
      <div class="close" ng-click="close()">X</div>
      <p>Filtro Post <input type="text" ng-model="filtroPost"></p>
      <ol>
        <li ng-repeat="post in posts | filter:{title: filtroPost}">
          <p><b>{{post.title}}</b> <span ng-bind="'('+countComments(post.id)+')'"></span></p>
          <ul>
            <li ng-repeat=""></li>
          </ul>
          <hr>
        </li>
      </ol>
    </div>
  </div>

  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" defer></script>-->
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/listaComments.js"></script>
  <script src="js/listaPosts.js"></script>
  <script src="js/listaUtenti.js"></script>
  <script src="js/app2.js"></script>
</body>

</html>