<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="myApp">

  <h1>Spieghiamo angularjs</h1>

  <div ng-controller="myController">
    <p>{{numero | number:2}}</p>
    <p>{{numero | currency:"$":0}}</p>
    <p>{{adesso | date:"EEE dd-MM-yyyy HH:mm:ss Z"}}</p>
    <p>{{numeriACaso | orderBy:null:true}}</p>
    <p>{{paroleACaso | orderBy}}</p>
    <input type="text" ng-model="filtroCitta">
    <p ng-repeat="citta in elencoCitta | filter:{nome: filtroCitta}">{{citta.nome}} --- {{citta.regione}}</p>

  </div>

  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" defer></script>-->
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/listaUtenti.js"></script>
  <script src="js/app3.js"></script>
</body>

</html>