<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="myApp">


  <titolo></titolo>

  <h1>Esercizio angularjs</h1>

  <script type="text/ng-template" id="/mySelectCityTemplate.html">
    <ul>
      <li ng-repeat="citta in elencoCitta">{{citta.nome}}</li>
    </ul>
  </script>



  <div ng-controller="myController">

    <my-select-city city-list=elencoCitta></my-select-city>


    <select ng-model="selectedItem" ng-options="citta.regione as citta.nome for citta in elencoCitta"></select>

    <p>Citta selezionata {{selectedItem}}</p>
  </div>

  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" defer></script>-->
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/app6.js"></script>
</body>

</html>