<!doctype html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="myApp" >

  <h1>Spieghiamo angularjs</h1>

  <div>

<div ng-controller="formController">
  <p>Inserisci Nome: <input type="text" ng-model="user.name" /></p>
  <p>Inserisci Cognome: <input type="text" ng-model="user.surname" /></p>
  <p>Inserisci Email: <input type="text" ng-model="user.email" /></p>
  <p>Inserisci Username: <input type="text" ng-model="user.username" /></p>

  <button type="button" ng-click="mostramiMessaggio(user.name)">Cliccami</button>
  <div>
    <h3>I miei dati</h3>
    <p >Nome: {{user.name}}</p>
    <p ng-bind="user.name || user.surname" ></p>
    <p>Cognome: {{user.surname}}</p>
    <p>Email: {{user.email}}</p>
    <p ng-class="{'rosso': 10 > 5, 'fontLarge': 10 > 5 }">Username: {{user.username}}</p>
  </div>
  <ul>
    <li ng-repeat="colore in colori">{{colore}}</li>
  </ul>
</div>

<hr>
<div ng-controller="textController">
  <p>Inserisci Testo: <textarea ng-model="text" ></textarea></p>

  <div>
    <h3>Il mio testo</h3>
    <p>{{text}}</p>
  </div>
</div>
    
  </div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" defer></script>-->
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>