<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="myApp">

  <h1>Esercizio angularjs</h1>

  <div ng-controller="myController">
    <p>Nome: <input type="text" ng-model="user.name" /></p>
    <p>Cognome: <input type="text" ng-model="user.surname" /></p>

    <br />
    <p>Numero: <input type="text" ng-model="numero" /></p>
    <button type="button" id="mioBtn" ng-click="risultato = numero * 2">Raddoppia</button>
    <p>{{risultato}}</p>


    <p>Nome: <input type="text" ng-model="persona.nome" /></p>

    {{persona.nome}}

    <!-- Provider -->
    <p>{{salutaF}}</p>
    <p>{{salutaS}}</p>
    <p>{{salutaP}}</p>

  </div>

  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" defer></script>-->
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/listaUtenti.js"></script>
  <script src="js/app4.js"></script>
</body>

</html>