.containerHeader
{
    text-align: center;
}
.posts-header{
    text-align: left;
    padding: 2px 16px;
}

hr{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.filters{
    text-align: left;
}

/* Aggiunta column con l'aggiunta del containerPost */
.main{
   
    width: 100%;
	height: auto;
	margin: 10px auto 10px auto;
	overflow: hidden;
	background-color: white;
}
.col1 {
    border-radius: 10px;
	width: 60%;
	float: left;
	height: 80%;
}
.col2{

	width: 30%;
	margin-left: 2%;
	float: left;
	height: 80%;
    
}

.posts{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
    margin-top: 10px;
}

.posts h2{
    margin-top: 10px;
}
.posts:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.containerCards{
    flex: 0 0 65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2px;
    float: left;
    width: 80%;
    overflow: hidden;
    
}

.card{
    /* color: red; */
    padding: 0.1px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.card-header{
    text-align: center;
    padding: 2px 16px;
}

.card-header h2{
   text-justify: auto;
}

.card-body{
    padding: 2px 16px;
    float: right;
}



.containerPost{
    display: inline-block;
    padding: 10px;
    margin: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    flex: 1;
    overflow: hidden;
    
    
}

ul {
    list-style-type: none;
}