<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <link href="css/style.css" rel="stylesheet">

</head>

<!-- commento -->

<body>

  <h1>Spieghiamo angularjs</h1>



  <div ng-app="myApp">
    <div ng-view>
      <div ng-controller="studentController">
        <h2>{{utente.name}}</h2>
      </div>


      <div ng-controller="loginController" ng-hide="valid">

        <div class="col-md-12">

          <form name="formLogin" class="form-horizontal" ng-submit="registration()" novalidate>
            <div class="form-group">
              <div class="col-md-1">
                <label for="Name">Name</label>
              </div>
              <div class="col-md-11">
                <input type="text" id="inputName" name="name" placeholder="Name" ng-model="user.name"
                  ng-required="!user.name">
                <span class="blockInput" ng-show="formLogin.name.$invalid && formLogin.name.$dirty">Compilare tutti
                  i
                  campi del form</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-1">
                <label for="Cognome">Cognome</label>
              </div>
              <div class="col-md-11">
                <input type="text" id="inputSurname" name="surname" placeholder="Cognome" ng-model="user.surname"
                  ng-required="!user.surname">
                <span class="blockInput" ng-show="formLogin.surname.$invalid && formLogin.surname.$dirty">Compilare
                  tutti i
                  campi del form</span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-1">
                <label for="Username">Username</label>
              </div>
              <div class="col-md-11">
                <input type="text" id="inputUsername" name="username" placeholder="Username" ng-model="user.username"
                  ng-required="!user.username">
                <span class="blockInput" ng-show="formLogin.username.$invalid && formLogin.username.$dirty">Compilare
                  tutti i
                  campi del form</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-1">
                <label for="Password">Password</label>
              </div>
              <div class="col-md-11">
                <input type="password" id="inputPassword" name="password" placeholder="Password"
                  ng-required="!user.password" ng-model="user.password">
                <span class="blockInput" ng-show="formLogin.password.$invalid && formLogin.password.$dirty">Compilare
                  tutti i
                  campi del form</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-1">
                <label for="Email">Email</label>
              </div>
              <div class="col-md-11">
                <input type="text" id="inputEmail" name="email" placeholder="Email" ng-model="user.email"
                  ng-required="!user.email">
                <span class="blockInput" ng-show="formLogin.email.$invalid && formLogin.email.$dirty">Compilare tutti
                  i
                  campi del form</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-1">
                <label for="Privacy">Privacy</label>
              </div>
              <div class="col-md-11">
                <input type="checkbox" name="privacy" ng-model="user.privacy" ng-required="!user.privacy"> Accettazione
                Privacy
                <span class="blockInput" ng-show="formLogin.privacy.$invalid && formLogin.privacy.$dirty">Compilare
                  tutti i
                  campi del form</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-1">
                <label for="Sesso">Sesso</label>
              </div>
              <div class="col-md-11">
                <div class="radio">
                  <label>
                    <input type="radio" name="sesso" id="sessoM" value="M" ng-model="user.gender"
                      ng-required="!user.gender">
                    M
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="sesso" id="sessoF" value="F" ng-model="user.gender"
                      ng-required="!user.gender">
                    F
                  </label>
                </div>
                <span class="blockInput" ng-show="formLogin.sesso.$invalid && formLogin.sesso.$dirty">Compilare tutti i
                  campi del form</span>
              </div>

            </div>
            <div class="form-group">
              <div class="col-md-1">
                <button type="submit" class="btn btn-default" ng-disabled="formLogin.$invalid">Sign in</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <script src="lib/angular/angular.min.js"></script>
  <!-- <script src="lib/angular-route/angular-route.min.js"></script> -->
  <script src="js/mock_data.js"></script>

  <script src="js/app.js"></script>
</body>

</html>