.lista{
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
}

.lista2{
    background-color: rgb(141, 143, 31);
    margin: 10px;
    padding: 10px;
    border: solid 1px black;

}