.lista{

    background-color:rgb(194, 41, 41);
    width: 60%;
    min-height: 100px;
  
    display: inline-block;
    border: solid 1px rgb(125, 118, 160);
    padding: 10px;
    margin: 10px;
    background-color: rgb(243, 222, 222);
}
.lista-b {
    background-color:rgb(84, 194, 41);
    width: 60%;
    min-height: 100px;
  
    display: inline-block;
    border: solid 1px rgb(111, 43, 143);
    padding: 10px;
    margin: 10px;
    background-color: rgb(63, 152, 168);
}

   
