<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="css/banca.jpeg" class="img-fluid" alt=""; width="100%"; height="350vh">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Registration</h1>
                <form name="myForm" ng-submit="sendData(user)" novalidate>
                    <div class="form-row">
                        <div class="riga col-lg-7">
                            <input type="text" class="form-control my-3 p-4" id="nome"
                                name="name"
                                ng-model="user.name"
                                ng-required="true"
                                ng-minlength="6"
                                ng-maxlength="10"
                                placeholder="Enter your name"
                                ng-class="{'invalid-field': myForm.name.$invalid && myForm.name.$dirty, 'valid-field': myForm.name.$valid && myForm.name.$dirty}"
                            />
                            <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="error-message">Il campo name non è valido. Dovrà avere min 6 - max 10 lettere.</span>
                            <span ng-show="myForm.name.$dirty && myForm.name.$valid" class="success-message">Il campo name è valido.</span>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-row">
                        <div class="riga col-lg-7">
                            <input type="text" class="form-control my-3 p-4" id="cognome"
                                name="surname"
                                ng-model="user.surname"
                                ng-required="true"
                                ng-minlength="6"
                                ng-maxlength="10"
                                placeholder="Insert your surname"
                                ng-class="{'invalid-field': myForm.surname.$invalid && myForm.surname.$dirty, 'valid-field': myForm.surname.$valid && myForm.surname.$dirty}"
                            />
            
                            <span ng-show="myForm.surname.$dirty && myForm.surname.$invalid" class="error-message">Il campo surname non è valido. Dovrà avere min 6 - max 10 lettere.</span>
                            <span ng-show="myForm.surname.$dirty && myForm.surname.$valid" class="success-message">Il campo surname è valido.</span>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-row">
                        <div class="riga col-lg-7">
                            <input type="text" class="form-control my-3 p-4" id="username"
                                name="username"
                                ng-model="user.username"
                                ng-minlength="3"
                                ng-maxlength="6"
                                ng-required="true"
                                ng-class="{'invalid-field': myForm.username.$invalid && myForm.username.$dirty, 'valid-field': myForm.username.$valid && myForm.username.$dirty}"
                                placeholder="Enter your username"
                            />
            
                            <span ng-show= "myForm.username.$dirty && myForm.username.$invalid" class="error-message">Il campo username non è valido. Dovrà avere min 3 - max 6 lettere.</span>
                            <span ng-show="myForm.username.$dirty && myForm.username.$valid" class="success-message">Il campo username è valido.</span>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-row">
                        <div class="riga col-lg-7">
                            <input type="password" class="form-control my-3 p-4" id="password"
                                name="password"
                                ng-model="user.password"
                                ng-required="true"
                                ng-minlength="6"
                                ng-maxlength="10"
                                placeholder="Enter your password"
                                ng-class="{'invalid-field': myForm.password.$invalid && myForm.password.$dirty, 'valid-field': myForm.password.$valid && myForm.password.$dirty}"
                            />
                
                            <span ng-show="myForm.password.$dirty && myForm.password.$invalid" class="error-message">Il campo password non è valido. Dovrà avere min 6 - max 10 lettere.</span>
                            <span ng-show="myForm.password.$dirty && myForm.password.$valid" class="success-message">Il campo password è valido.</span> 
                        </div>
                    </div>

                    <br><br>

                    <div class="form-row">

                        <div class="riga posizionebottoni col-lg-7 form-check my-3 p-4">
                            <input type="radio"
                            id="male" 
                            ng-model="user.gender" 
                            value="male" 
                            name="gender"
                            checked="checked"
                            ng-class="{'invalid-field': myForm.maschio.$invalid && myForm.maschio.$dirty, 'valid-field': myForm.maschio.$valid && myForm.maschio.$dirty}"/>
                            <label id="radio-label" for="male">Male</label>
     
                            <input type="radio" 
                            id="female"
                            ng-model="user.gender" 
                            value="female" 
                            name="gender"
                            ng-class="{'invalid-field': myForm.femmina.$invalid && myForm.femmina.$dirty, 'valid-field': myForm.femmina.$valid && myForm.femmina.$dirty}"/>
                            <label id="radio-label" for="female">Female</label>
                        </div>
                    </div>

                    <br>

                    <div class="form-row">
                        <div class="riga col-lg-7 form-check">
                            <input type="checkbox" class="form-check-input my-3 p-4" id="exampleCheck1"
                            ng-model="user.privacy" 
                            name="privacy"
                            ng-required="true"
                            ng-class="{'invalid-field': myForm.privacy.$invalid && myForm.privacy.$dirty, 'valid-field': myForm.privacy.$valid && myForm.privacy.$dirty}"
                            />
                            <label class="form-check-label" for="exampleCheck1">Accept privacy</label> 
                        </div>
                    </div>

                    <br><br><br>
                    
                    <div class="form-row">
                        <div class="riga col-lg-7">
                            <button type="submit" class="btn btn-danger btn-block my-3 p-4">Sumbit</button>
                        </div>
                    </div>
                     <!--
                     <div ng-show="myForm.$dirty"><b>Form modificata</b></div>--><!--dirty ci dice se la form è stata modificata-->
                     <!--<div ng-show="myForm.$pristine"><b>Form non modificata</b></div>--><!--pristine ci dice se la form non è stata modificata-->
                 </form>
            </div>
        </div>
    </div>
</section>