<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Esercizio Quick</title>

  <link href="style.css" rel="stylesheet">

</head>

<body>
    <h2>Ciao! Entra i tuoi dati e posta qualcosa,</h2>
    <h6>ti prego!</h6>
  
  <div ng-app="myApp">

    <div ng-controller="myController">
        
        <div>
            <p>Nome: <input type="text" ng-model="name"/></p>
            <p>Cognome: <input type="text" ng-model="surname"/></p>
            <p>Username: <input type="text" ng-model="username"/></p>
            <p>E-mail: <input type="text" ng-model="email"/></p>

            <p>Ok! Ti chiami: {{name}} {{surname}}, il tuo username è: {{username}} e la tua mail è: {{email}}</p>
        </div>
        <hr>
        <div>
            <p>Titolo del post: <input type="text" ng-model="title"/></p>
            <p>Testo del post: <input type="text" ng-model="text"/></p>
            
            <div class="post-color">
                <p ng-show="padella">Questo testo è visibile solo se il bool è true</p>
                <p id="title">{{title}}</p>
                <p>{{text}}</p>
            </div>
        </div>
        <hr>
        <p>Filtra per nome: <input type="text" ng-model="nameFilter"/></p>

        <div id="uListContainer">
            <div id="uCard" ng-repeat="card in listaUtenti | filter: {name: nameFilter} | orderBy: 'username'">
                <hr>
                <div id="cardText">
                    <h3>{{card.name}}</h3>
                    <h5>{{card.username}}</h5>
                    <h5>{{card.email}}</h5>
                    <p>Address:</p>
                    <ul>
                        <li>{{card.address.street}}</li>
                        <li>{{card.address.suite}}</li>
                        <li>{{card.address.city}}</li>
                        <li>{{card.address.zipcode}}</li>
                    </ul>
                    <!--
                    <div ng-repeat="(key, value) in card">
                        <p>{{key}} : {{value}}</p>
                    </div>
                    -->
                    <button id="toggleBtn" ng-click="showPost(); contaCommenti()">{{btnTxt}}</button>
                    <div ng-show="toggleShow">
                        <h3>User Post:</h3>
                        <h4>{{listaPost[card.id-1].title}}</h4>
                        <h5>{{listaPost[card.id-1].body}}</h5>
                        <p>Commenti ({{contatore}})</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
  </div>


  <script src="../lib/angular/angular.min.js"></script>
  <script src="lists.js"></script>
  <script src="user.js"></script>
</body>

</html>