body{
    background-color: rgba(130, 196, 174, 0.774);
}

#title{
    font-size: 30px;
}

.post-color{
    background-color:rgba(110, 72, 141, 0.815);
    width: 30%;
}

#uListContainer{
    background-color: rgba(165, 94, 13, 0.767);
}

#uCard{
    background-color: wheat;
    margin: 10px;
}

#cardText{
    margin: 20px;
}

#toggleBtn{
    margin-bottom: 15px;
    cursor: pointer;
}

