<form class="form-horizontal" role="form" name="loginForm" novalidate>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <input type="text" id="name_nico" name="name_nico" placeholder="User Name" class="form-control"
                ng-model="userName_nico" required />
            <span class="help-block" ng-show="loginForm.userName.$touched && loginForm.userName_nico.$invalid">Please enter
                User Name.</span>
        </div>
        <div class="col-sm-3">
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                ng-model="password" required />
            <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">Please enter
                Password.</span>
        </div>

        <div class="col-sm-3">
            <p>Nome:  <input type="text" ng-model="name_nico"></p>
            {{name_nico.name_nico}}
        </div>
    </div>

    <form name="myForm" ng-submit="sendData(user)" novalidate>
        <h2>Form by nicola</h2>
        <p>Nome: <input 
            type="text" 
            name="username"
            ng-model="user.name_nico" 
            ng-maxlength="5"
            ng-class="{'invalid-field': myForm.username.$invalid, 'valid-field': myForm.username.$valid}" />
        <span ng-show="myForm.username.$invalid" class="error-message">Questo campo non è valido</span>
        </p>
        <p>Accetti la privacy: <input type="checkbox" ng-model="user.privacy" /></p>
        <p>Sesso:
            M <input type="radio" ng-model="user.gender" value="male" />
            F <input type="radio" ng-model="user.gender" value="female" />
        </p>
    
        <button type="submit">Invia dati</button>
        <h2 ng-show="myForm.$dirty">Form modificata</h2>
        <h2 ng-show="myForm.$pristine">Form non modificata</h2>
    </form>
    <h3>-------------------------------------------------------------------------------</h3>
  

    <input type="submit" value="Login" class="btn btn-primary col-sm-offset-3" ng-click="authenticate(userName)" />
</form>

<form name="gForm" ng-submit="sendData1(user)" novalidate>
    <h2>Form by Gio</h2>

    <p> NOME: <input
         type="text"
         name="name" required
         ng-model="user.name"
         ng-minlength="3"
         ng-maxlength="10"
         ng-class="{'invalid-field': gForm.username.$invalid, 'valid-field': gForm.name.$valid}"/>
         <span ng-show="gForm.name.$invalid" class="error-message">This field is empty, must be fill</span>
         <span ng-show="gForm.name.$valid" class="valid-message">Valid</span>
    </p>
    <p> COGNOME: <input
        type="text"
        name="surname" required
        ng-model="user.surname"
        ng-minlength="3"
        ng-maxlength="10"
        ng-class="{'invalid-field': gForm.surname.$invalid, 'valid-field': gForm.surname.$valid}"/>
        <span ng-show="gForm.surname.$invalid" class="error-message">This field is empty, must be fill</span>
        <span ng-show="gForm.surname.$valid" class="valid-message">Valid</span>
   </p>
   <p> USERNAME: <input
    type="text"
    name="username" required
    ng-model="user.username"
    ng-minlength="3"
    ng-maxlength="10"
    ng-class="{'invalid-field': gForm.username.$invalid, 'valid-field': gForm.username.$valid}"/>
    <span ng-show="gForm.username.$invalid" class="error-message">This field is empty, must be fill</span>
    <span ng-show="gForm.username.$valid" class="valid-message">Valid</span>
    </p>
    <p> PASSWORD: <input
        type="text"
        name="PASSWORD" required
        ng-model="user.PASSWORD"
        ng-minlength="3"
        ng-maxlength="10"
        ng-class="{'invalid-field': gForm.PASSWORD.$invalid, 'valid-field': gForm.PASSWORD.$valid}"/>
        <span ng-show="gForm.PASSWORD.$invalid" class="error-message">This field is empty, must be fill</span>
        <span ng-show="gForm.PASSWORD.$valid" class="valid-message">Valid</span>
    </p>
    <p>Do you agreed to the privacy: <input type="checkbox" ng-model="user.privacy1" /></p>
   
    <p>GENDER:
        M <input type="radio" ng-model="user.gender" value="male" checked/>
        F <input type="radio" ng-model="user.gender" value="female" checked />
    </p>
    <button type="submit" ng-show="gForm.$valid">Send data</button>
        <h2 ng-show="gForm.$dirty">Form modificata</h2>
        <h2 ng-show="gForm.$pristine">Form non modificata</h2>
<!--
    *   Creare un form di registrazione che abbia come input: nome, cognome, username, password, accettazione_privacy, sesso.
Il form deve avere un tasto di submit che mandi i dati dell'utente ad un controller. 
*   I campi sono tutti reguired e lo user name deve essere lungo almeno 3 lettere e con lunghezza massima di 6. 
*   Ogni campo deve avere un testo di errore aassociato da mostrare in caso di errore solo dopo che il singolo input è stato modificato.
    --->
</form>