.containerHeader
{
    text-align: center;
}

hr{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}