<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Prova</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#!/home">HOME</a></li>
      <li ><a href="#!/registration">Registration</a></li>
      <li><a href="#!/profile/">User Profile</a></li>
      <li><a href="#!/usersPage/">Users Page</a></li>
    </ul>
  </div>
</nav>

<h1 style="text-align: center;" class="font-grande">Login</h1>


<form name="loginForm" novalidate>

  <div class="container-fluid form-group col-md-6 col-md-offset-3">
    <label for="username">Username</label>
    <input 
    type="text" 
    name="username" 
    id="username" 
    ng-model="login.username" 
    placeholder="Username" 
    class="form-control" 
    ng-required="true"
    />
    <span 
    ng-show="loginForm.username.$dirty && loginForm.username.$invalid"
    class="error-input"
    >
    Inserire lo username<br></span>
    <br>
    <label for="password">Password</label>
    <input 
    type="password"
    name="password"
    id="password"
    ng-model="login.password"
    placeholder="Password"
    class="form-control"
    ng-required="true"
    />
    <span
    ng-show="loginForm.password.$dirty && loginForm.password.$invalid"
    class="error-input"
    >
    Inserire la password<br></span>
    <br>
    <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary btn-lg" ng-click="login(login)">Login</button>
    <br>
    <br>
    <span ng-if="valoreReturn === false">
      <div>
        <button type="button" class="btn btn-lg btn-primary" ng-click="goToRegistration()">Registrati</button>
        <p>Se non sei registrato effettualo cliccando qui</p>
      </div>
    </span>
  </div>

</form>