<div class="container-fluid" ng-controller="profileCTRL">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angular Prova</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#!/home">HOME</a></li>
        <li><a href="#!/registration">Registration</a></li>
        <li class="active"><a href="#!/profile/">User Profile</a></li>
        <li><a href="#!/usersPage/">Users Page</a></li>
      </ul>
    </div>
  </nav>

  <h1>pagina utente</h1>

  <div class="container-fluid row">
    <div class="user-card col-md-2">
    
      <h2>{{user.nome}}</h2>
      <h2>{{user.cognome}}</h2>
      <p>{{user.sesso}}</p>
      <p>{{user.username}}</p>
      <p>{{user.password}}</p>

    </div>
  </div>

</div>