<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Prova</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#!/home">HOME</a></li>
      <li class="active"><a href="#!/registration">Registration</a></li>
      <li><a href="#!/profile/">User Profile</a></li>
      <li><a href="#!/usersPage/">Users Page</a></li>
    </ul>
  </div>
</nav>

<h1 style="text-align: center;">Register page</h1>

<form name="myForm" novalidate>

  <div class="container-fluid form-group col-md-6 col-md-offset-3">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" ng-model="user.nome" placeholder="Nome" class="form-control" required>
    <span ng-show="myForm.nome.$dirty && myForm.nome.$invalid" class="error-input">Questo campo non è valido</span>
    <br>
    <br>
    <label for="Cognome">Cognome:</label>
    <input type="text" id="cognome" name="cognome" ng-model="user.cognome" class="form-control" placeholder="Cognome" required>
    <span ng-show="myForm.cognome.$dirty && myForm.cognome.$invalid" class="error-input">
      Questo campo non è valido
    </span>
    <br>
    <br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" ng-model="user.username" class="form-control" placeholder="Username" ng-maxlength="6"
      ng-minlength="3" required>
    <span ng-show="myForm.username.$dirty && myForm.username.$invalid" class="error-input">Questo campo non è
      valido</span>
    <span ng-show="myForm.username.$error.maxlength || myForm.username.$error.minlength">
      deve essere compreso tra i 3 ed i 6 caratteri
    </span>
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" required>
    <span ng-show="myForm.password.$dirty && myForm.password.$invalid" class="error-input">
      Questo campo non è valido
    </span>
    <br>
    <br>
    <label>Sesso:</label>
    <label for="sessoM">Maschio</label>
    <input type="radio" id="sessoM" name="sesso" ng-model="user.sesso" value="maschio" required>
    <label for="sessoF">Femmina</label>
    <input type="radio" id="sessof" name="sesso" ng-model="user.sesso" value="femmina" required>
    <span ng-show="myForm.sesso.$dirty && myForm.sesso.$invalid"></span>
    <br>
    <br>
    <label for="privacy">
    <input type="checkbox" id="privacy" name="privacy" ng-model="user.privacy" required>
    Accettazione della privacy</label>
    <span ng-show="myForm.privacy.$dirty && myForm.privacy.$invalid" class="error-input">
      <br>Devi accettare la privacy per poterti registrare
    </span>
    <br>
    <br>
    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-lg btn-primary"
      ng-click="validate(user); authenticate(user)" name="btn">Login</button>
  </div>


</form>