<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Prova</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#!/home">HOME</a></li>
      <li><a href="#!/registration">Registration</a></li>
      <li><a href="#!/profile/">User Profile</a></li>
      <li class="active"><a href="#!/usersPage/">Users Page</a></li>
    </ul>
  </div>
</nav>

<h1>Users Page</h1>
