<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div ng-app="myApp">

    <div ng-controller = "myController">
      <h2>Esercizio 1 Angular js</h2>
        <div ng-repeat="utente in listaUtente" class="lista">
          <h3> {{utente.name}}</h3> 
          <h4>UserName: {{utente.username}}</h4> 
          <h4>Email: {{utente.email}}</h4>
          <h4>Indirizzo: {{utente.address.street}}, {{utente.address.suite}}, {{utente.address.city}}, {{utente.address.zipcode}} </h4>
          <h4>Telefono: {{utente.phone}}</h4>
          <h4>website: {{utente.website}}</h4>
          <h4>Azienda: {{utente.company.name}}</h4>
          
        
        </div>
        <hr size="10"  NOSHADE ALIGN=CENTER>
        <h2>Esercizio 2 Angular js</h2>
        <div ng-repeat="utente in listaUtente" class="lista2">
        <div ng-repeat="(key, value) in utente">
         
          <p><b>{{key}} : </b> {{value}}</p>
        </div>
        </div>
    
      
      
        
       
    

    
  </div>

  <script src="lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>