#uList{
    width: 35%;
    background-color: aquamarine;
    display: inline-block;
}

#detList{
    width: 30%;
    background-color: beige;
    display: inline-block;
    vertical-align: top;
}

.detailList{
    visibility: hidden;
}

.detailList-open{
    background-color: rgba(155, 155, 101, 0.575);
}

.userCard{
    margin: 20px;
    background-color: rgba(106, 148, 142, 0.473);
    cursor: pointer;
}

.userCard-selected{
    opacity: 30%;
}