body {
    background-color: rgb(194, 194, 194);
}

#listaUtenti {
    background-color: red;
    display: inline-block;
    float: left;
}

#listaUtenti.dettaglio-visibile-lista {
    width: 60%;
}

#dettagliUtente {
    width: 39%;
    min-height: 100px;
    background-color: green;
    display: inline-block;
    vertical-align: top;
    display: none;
}

#dettagliUtente.dettaglio-visibile {
    display: inline-block;
}

.card-utente {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: white;
}

.card-utente:hover {
    opacity: .5;
}

.active {
    opacity: .5;
}