<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <h1>Spieghiamo angularjs</h1>
  <div ng-app="myApp">
    <div ng-controller="myController">
      <div ng-class="containerInput" id="containerInput">
        <div id="inputUser">
          <h2>Inserisci User</h2>
          <input type="text" name="name" ng-model="user.name">
          <input type="text" name="username" ng-model="user.username">
          <input type="text" name="email" ng-model="user.email">
        </div>
        <div id="inputPost">
          <h2>Inserisci Post</h2>
          <input type="text" name="title" ng-model="post.title">
          <input type="text" name="body" ng-model="post.body">
        </div>
      </div>
      <div id="containerOutput">
        <div id=userContainer>
          <h3>Output User</h3>
          <p ng-bind="user.name" ng-hide="false"></p> <!--ng bind-->
          <p>username: {{user.username}}</p>
          <p>email: {{user.email}}</p>
        </div>
        <div id=postContainer>
          <h3>Output Post</h3>
          <p>title: {{post.title}}</p>
          <p>body: {{post.body}}</p>
        </div>
      </div>
    </div>
  </div>
  <script src="lib/angular/angular.min.js"></script>
  
  <script src="js/app.js"></script>

</body>

</html>