<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div ng-app="myApp">
    <div ng-controller="myController">
      <!-- ng-class= {classe nello $scope : condizione} true mi assegna la classe-->
      <div class="containerHeader">
        <h1>Spieghiamo angularjs</h1>
      </div>
      <hr>
      <div class="filters">
        <div id="userFilter">
          Cerca utente<input type="text" ng-model="byName">
        </div>
      </div>
      <div class="main">
        <div class="col1">
         <!-- containerCards -->
          <div class="containerCards">
          <!-- card -->
            <!--  ng-repeat in listUsers + ng-click showUserPost(user) + filter by user.name-->
            <div  class="card" ng-repeat="user in listUsers | orderBy:'name' | filter:{name: byName}"
                ng-click="showUserPost(user)">
              <!-- card-header -->
              <div class="card-header">
                <h2 ng-bind="user.name" ng-hide="false"></h2>
                <!-- <img src="https://via.placeholder.com/200"> -->
              </div>
              <!-- card-body -->
              <div class="card-body">
                <!-- card-principal -->
                <div class="card-principals">
                  <h3>{{cardIsClicked}} Username:</h3>
                  <p>{{user.username}}</p>
                  <h4>Email: </h4>
                  <a ng-href="{{user.email}}">{{user.email}}</a>
                  <h4>Phone: </h4>
                  <p>{{user.phone}} </p>
                  <h4>Websites: </h4>
                  <p>{{user.website}}</p>
                </div>
                <h4 ng-hide="true">Address:</h4>
                <!-- card details -->
                <div class="card-details">
                  <ul id="address">
                    <li ng-repeat="(key,value) in user.address">
                      <p ng-hide="true">{{key}} {{value}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- containerPost-->
        <div class="col2">
            <!-- post-header -->
            <div class="posts-header">
              <h2>sono il container post</h2>
              <div class="filters">
                <div id="postFilter">
                  Cerca post<input type="text" ng-model="byTitle">
                </div>
              </div>
            </div>  
            <!--  ng-repeat in userPost and 
                  FUTURE TASK -> ng-click showCommentsPost(post) and 
                  filter by post.title
            -->
            <div class="posts">
              <ul class="posts" ng-repeat="post in userPosts | orderBy: 'title' | filter: {title: byTitle} ">
                <h2>lista dei posti di {{post.userId}}</h2>
                <h3 ng-bind="post.title">dfsafs</h3>
                <li>
                  <p ng-bind="post.body">ddsfsd</p>   
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="lib/angular/angular.min.js"></script>
  
  <script src="js/app.js"></script>

  <script src="js/service/user-service.js"></script>
  <script src="js/controller/user-controller.js"></script>
  
  <script src="js/mockusers.js"></script>
  <script src="js/mockposts.js"></script>
  <script src="js/mockcomments.js"></script>
</body>

</html>