#container
{
    margin-left: 10%;
}

#lista
{
    margin-top: 2%;
}

.cambiocolore
{
    background-color:green;
    width: 50%;
}

#contieniBottoni{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 75%;
}

#coloreTestoRed
{
    color:brown;
}

#coloreTestoBlue
{
    color:blue;
}