
#rosso{
    color:red;
}

#blu{
    color:blue;
}

#container 
{
    background-color: grey;
    width: 50%;
}

.mb-3
{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#container2
{
    background-color: khaki;
}

#container3
{
    background-color: lightgreen;
}

#qui_dentro_viene_eseguito_angular
{
    width: 80%;
    margin: auto;
}

#id1
{   
    display:flex;
}

#id2
{
    display: flex;

}

#racchiudi
{
    padding: 2%;
    background-color: yellowgreen;
}

#id3
{
    padding: 2%;
    background-color: turquoise;
}

#classeCard
{
    margin-bottom: 10px;
}