<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="myApp">

  <h1>Esercizio angularjs</h1>

  <div ng-controller="myController">
    <div id="elenco" class="contenitore">
      <p>Filtro Utenti <input type="text" ng-model="filtroUtente"></p>
      <div ng-repeat="utente in users | orderBy:'name'  | filter:{name: filtroUtente}" ng-class="manina" class="hover"
        ng-click="mostraPost(utente.id, utente.name)">
        <p><b>Name:</b> {{utente.name}}</p>

        <hr>
      </div>
    </div>
    <div id="dettaglioPost" class="contenitore" ng-show="utenteScelto !== ''">
      <h2 ng-bind=" nameUser">
      </h2>
      <!-- <div class="close" ng-click="close()">X</div>
      <p>Filtro Post <input type="text" ng-model="filtroPost"></p> -->
      <ol>
        <li ng-repeat="post in posts">
          <p><b>{{post.title}}</b> </p>
          <!-- <p><b>{{post.title}}</b> <span ng-bind="'('+countComments(post.id)+')'"></span></p> -->
          <ul>
            <li ng-repeat=""></li>
          </ul>
          <hr>
        </li>
      </ol>
    </div>
  </div>


  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" defer></script>-->
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>