body {
    background-color: rgb(194, 194, 194);
}

#container {
    background-color: red;
    height: 100%;
    clear:both;
}


p {
    cursor: pointer;
}

#divLista{
    background-color: rgb(255, 60, 0);
    width:60%;
    float:left;
    display: block;
    height: auto;
    
}

#divDettaglio{
    background-color: aqua;
    float:left;
    width:40%;
    display: block;
    visibility: hidden;
    
}
.divCard{
    
    display: inline-block;
    border-style: solid;
    margin: 2px;
}