<form name="myForm" ng-submit="sendData(user)" novalidate>

    <p>Username*: <input type="text" 
            name="username" 
            ng-model="user.username" 
            ng-required="true" 
            ng-minlength="3"
            ng-maxlength="6"
            ng-class="{'invalid-field': myForm.username.$invalid && myForm.username.$dirty, 'valid-field': myForm.username.$valid}" />
        <span ng-show="myForm.username.$invalid && myForm.username.$dirty" class="error-message">
            <span ng-show="myForm.username.$error.minlength">Deve esser lungo almeno 3 caratteri</span>
            <span ng-show="myForm.username.$error.maxlength">Deve esser lungo massimo 6 caratteri</span>
        </span>
    </p>

    <button type="submit" ng-disabled="myForm.$invalid">Invia dati</button>
</form>
