<h1>{{user.getUser().username}}</h1>
<form name="impostazioni_profilo" ng-submit="aggiornaProfiloUtenteu()">
    <p><input type="text" ng-model="user.getUser().username" /></p>
    <button type="submit">Modifica profilo</button>
</form>