<form name="myForm" ng-submit="sendData(user)" novalidate>

    <p>Username*: <input type="text" 
            name="username" 
            ng-model="user.username" 
            ng-required="true" 
            ng-minlength="3"
            ng-maxlength="6"
            ng-class="{'invalid-field': myForm.username.$invalid && myForm.username.$dirty, 'valid-field': myForm.username.$valid}" />
        <span ng-show="myForm.username.$invalid && myForm.username.$dirty" class="error-message">
            <span ng-show="myForm.username.$error.minlength">Deve esser lungo almeno 3 caratteri</span>
            <span ng-show="myForm.username.$error.maxlength">Deve esser lungo massimo 6 caratteri</span>
        </span>
    </p>

    <p>Nome*: <input 
            type="text" 
            name="name" 
            ng-required="true" 
            ng-model="user.name"  
            ng-class="{'invalid-field': myForm.name.$invalid && myForm.name.$dirty, 'valid-field': myForm.name.$valid}" />
        <span ng-show="myForm.name.$invalid && myForm.name.$dirty" class="error-message">Questo campo non è valido</span>
    </p>

    <p>Email*: <input 
            type="text" 
            name="email" 
            ng-required="true" 
            ng-model="user.email"  
            ng-class="{'invalid-field': myForm.email.$invalid && myForm.email.$dirty, 'valid-field': myForm.email.$valid}" />
        <span ng-show="myForm.email.$invalid && myForm.email.$dirty" class="error-message">Questo campo non è valido</span>
    </p>

    <p>Password*: <input 
            type="password" 
            name="password" 
            ng-required="true" 
            ng-model="user.password"  
            ng-class="{'invalid-field': myForm.password.$invalid && myForm.password.$dirty, 'valid-field': myForm.password.$valid}" />
        <span ng-show="myForm.password.$invalid && myForm.password.$dirty" class="error-message">Questo campo non è valido</span>
    </p>


    <p>Accetti la privacy: <input type="checkbox" ng-required="true" ng-model="user.privacy" /></p>
    <p>Sesso:
        M <input type="radio" ng-required="true" name="gender" ng-model="user.gender" value="male" />
        F <input type="radio" ng-required="true" name="gender" ng-model="user.gender" value="female" />
    </p>

    <button type="submit" ng-disabled="myForm.$invalid">Invia dati</button>
</form>