<h1>Pagina registrazione</h1>

<form name = "myForm" ng-submit="registra(user)" novalidate>
    <!-- nome, cognome, username, password, accettazione_privacy, sesso. -->

    <p>Nome : 
        <input type="text" ng-model="user.nome" name= "nomeUtente" 
            ng-required="true" ng-minlength="3" ng-maxlength="6"/>
        <span class="error" ng-show="myForm.nomeUtente.$dirty && myForm.nomeUtente.$error.minlength">
            inserire almeno 3 caratteri
        </span>
        <span class="error" ng-show="myForm.nomeUtente.$dirty && myForm.nomeUtente.$error.maxlength">
            inserire 6 caratteri max
        </span>
        <span class="error" ng-show="myForm.nomeUtente.$dirty && myForm.nomeUtente.$error.required">
            inserire nome 
        </span>
    </p>

    <p>Cognome : 
        <input type="text" ng-model="user.cognome" name= "cognomeUtente" 
            ng-required="true" ng-minlength="3" ng-maxlength="6"/>
        <span class="error" ng-show="myForm.cognomeUtente.$dirty && myForm.cognomeUtente.$error.minlength">
            inserire almeno 3 caratteri
        </span>
        <span class="error" ng-show="myForm.cognomeUtente.$dirty && myForm.cognomeUtente.$error.maxlength">
            inserire 6 caratteri max
        </span>
        <span class="error" ng-show="myForm.cognomeUtente.$dirty && myForm.cognomeUtente.$error.required">
            inserire cognome 
        </span>
    </p>

    <p>Username : 
        <input type="text" ng-model="user.username" name= "username" 
            ng-required="true" ng-minlength="3" ng-maxlength="6"/>
        <span class="error" ng-show="myForm.username.$dirty && myForm.username.$error.minlength">
            inserire almeno 3 caratteri
        </span>
        <span class="error" ng-show="myForm.username.$dirty && myForm.username.$error.maxlength">
            inserire 6 caratteri max
        </span>
        <span class="error" ng-show="myForm.username.$dirty && myForm.username.$error.required">
            inserire username 
        </span>
    </p>

    <p>Password : 
        <input type="password" ng-model="user.password" name= "password" 
            ng-required="true" ng-minlength="3" ng-maxlength="6"/>
        <span class="error" ng-show="myForm.password.$dirty && myForm.password.$error.minlength">
            inserire almeno 3 caratteri
        </span>
        <span class="error" ng-show="myForm.password.$dirty && myForm.password.$error.maxlength">
            inserire 6 caratteri max
        </span>
        <span class="error" ng-show="myForm.password.$dirty && myForm.password.$error.required">
            inserire password 
        </span>
    </p>

    <p>Accettazione privacy:
        <input type="checkbox" ng-model="user.accettazione_privacy" />
    </p>

    <p>Sesso
        <input type="radio" ng-model="user.sesso" name="usersesso" value="maschio">M</input>
        <input type="radio" ng-model="user.sesso" name="usersesso" value="femminna">F</input>
    </p>



    <button type="submit" ng-disabled="myForm.$invalid">salva</button>

</form>