<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Esercizio Quick</title>

  <link href="style.css" rel="stylesheet">

</head>

<body>
  
  <div ng-app="myApp">

    <div ng-controller="myController">
        
        <p>Title: <input type="text" ng-model="todoTitle"></p>
        <p>Text: <input type="text" ng-model="todoText"></p>
        <button ng-click="addElement()">Add TODO to list</button>

        <p>Filter by title: <input type="text" ng-model="titleFilter"/></p>
        
        <p>Your TODO list:</p>
        <div id="todoList">
            <div id="todoElement" ng-repeat="element in todoList | filter: {title: titleFilter}">
                <ul>
                    <li><b><i>{{element.title}}</i></b></li>
                    <p>{{element.text}}</p>
                </ul>
            </div>
        </div>

    </div>
  </div>


  <script src="../lib/angular/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>