body{
    background-color: rgba(113, 182, 156, 0.644);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#todoList{
    background-color: rgb(233, 214, 190);
    width: 30%;
}

#todoElement{
    background-color: rgba(121, 78, 161, 0.74);
}

