<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <h1>Spieghiamo angularjs</h1>
  <p>Scaricalo da  <a href="https://angularjs.org/" target="_blank">qui</a></p>

  <div ng-app="myapp">
    <div ng-controller="myController1">
      <p>nome <input ng-model="user.name" type="text"/></p>  
      <p>cognome <input ng-model="user.surname" type="text"/></p> 
      <p>email <input ng-model="user.email" type="text"/></p> 

      <p>Full name : {{ user.name }} {{ user.surname }} </p>

      <!-- <ul>
        <li ng-repeat="user in users">
          {{ user.name }}
        </li>
      </ul> -->

      <p>filter <input ng-model="filter" type="text"/></p>
      <div ng-repeat="user in users | orderBy: 'name'| filter: {name: filter}">
        <h1>{{ user.name }}</h1>
        <!-- <h2>{{ user.username }}</h2>
        <h3>{{ user.email }}</h3>
        <div>
          <h3>Address:</h3> 
          <dl>
            <dt>street</dt>
            <dd>{{user.address.street}}</dd>
            <dt>suite</dt>
            <dd>{{user.address.suite}}</dd>
            <dt>city</dt>
            <dd>{{user.address.city}}</dd>
            <dt>zipcode</dt>
            <dd>{{user.address.zipcode}}</dd>
            <dt>geo</dt>
            <dd>lat: {{user.address.geo.lat}}, lng: {{user.address.geo.lng}}</dd>
          </dl>
        </div>
        <h3>{{user.phone}}</h3>
        <h3>{{user.website}}</h3>
        <div>
          <h3>company</h3>
          <dl>
            <dt>name</dt>
            <dd>{{user.company.name}}</dd>
            <dt>catchPhrase</dt>
            <dd>{{user.company.catchPhrase}}</dd>
            <dt>bs</dt>
            <dd>{{user.company.bs}}</dd>
          </dl> -->
        </div>
      </div>
    </div>
  </div>

  <script src="lib/angular/angular.min.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/userService.js"></script>
</body>

</html>