<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- importo Bootstrap 3 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- import style sheet css-->
  <link rel="stylesheet" href="css/style.css">
  <title>Angular</title>
</head>

<body>

  <div ng-app="myApp">
    <div class="container-fluid row" >
      <div class="container-fluid col-md-4 row" ng-controller="myController">
        <div class="container-fluid">
          <label for="input1" class="big-text">Inserisci il titolo:
            <br>
            <input type="text" id="input1" ng-model="list.titolo">
          </label>
          <br>
          <label for="input2" class="big-text">Inserisci una descrizione:
            <br>
            <input type="text" id="input2" ng-model="list.content">
          </label>
          <br>
          <button type="button" ng-click="creaElemento(list)">Salva</button>
        </div>  
      </div>

      <div class="container-fluid col-md-offset-4 row" ng-controller="filterCtrl">

        <label for="inputSearch" class="big-text">Filtra:
          <input type="text" id="inputSearch" ng-model="searchFilter">
        </label>
        
        <br>
        <button type="button" ng-click="search(searchFilter)">Filtra</button>
      </div>

      <div class="container-fluid" ng-controller="viewListCtrl">
        <h2>TO DO LIST:</h2>
        <br>
        <ul>
          <li ng-repeat="x in items | filter: {title: searchKey[searchKey.length - 1]}">
            <h2>{{x.title | uppercase}}</h2>
            <p>{{x.body}}</p>
            
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!-- carico JQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"
  defer></script>

  <script src="lib/angular/angular.min.js" defer></script>

  <script src="js/app.js" defer></script>

  <script src="js/services/toDoList.js" defer></script>

  <script src="js/controller/creaElemento.ctrl.js" defer></script>

  <script src="js/controller/filtra.ctrl.js" defer></script>

  <script src="js/controller/lista.ctrl.js" defer></script>

</body>

</html>