.card{
    border: 1px solid gray;
    background-color: grey;
    border-radius: 6px;
    padding: 10px;
    float: left;
    margin:1pt;
    width:40%;
    height:auto;
    cursor: pointer;
}

.card:hover{
    opacity: .5;
}

.lista{
    border: 1px solid gray;
    background-color: grey;
    border-radius: 6px;
    padding: 10px;
    float: left;
    margin:1pt;
    width:40%;
    height:auto;
    cursor: pointer;
}

.users-card{
    text-align:center;
    width:79%;
    height: auto;
}
#user-post{
    width:30%;
    height: auto;
    border: 1px solid gray;
    background-color: yellow;
    border-radius: 6px;
    vertical-align: top;
    display: inline-block;
    
    
}
