<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div ng-app="myApp">
    
      <div class="containerHeader">
        <h1>Es di recap</h1>
      </div>
      <hr>
      <div class="containerBody">
        <div ng-controller="createItemCtrl">
          <div class="firstBox">
            <div class="addTask">
              Titolo:
              <input type="text" name="title" ng-model="title">
              Contenuto:
              <input type="text" name="content" ng-model="content">
              <button ng-click="createItem()">Crea Task</button>
            </div>
          </div>
        </div>
        <div ng-controller="viewitemCtrl">
            <!--
            <div class="lookTask">
                <div class="todo">
                    <ul class="task" ng-repeat="todo in listTodo | filter: {title: byTitle}">
                        <li>
                            <h3>{{todo.title}}: <span>{{todo.content}}</span></h3>    
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="completed">
                    <ul class="task">
                        <li> </li>
                    </ul>
                </div>
                <hr>
            </div>
            -->
      </div>
        <div class="secondBox">
            <div class="filters">
                <input type="text" ng-model="byTitle">

            </div>
        </div>
      
    </div>
  </div>
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/saveService.js"></script>
  <script src="js/createItemCtrl.js"></script>
  <script src="js/viewItemCtrl.js"></script>
</body>

</html>