body {
    background-color: rgb(194, 194, 194);
}

#listaUtenti {
    width: 60%;
    min-height: 100px;
    background-color: rgb(229, 243, 235);
    display: inline-block;
}

#listaUtenti.dettaglio-visibile-lista {
    width: 60%;
}

#dettagliUtente {
    width: 39%;
    min-height: 100px;
    background-color: rgb(221, 223, 211);
    display: inline-block;
    vertical-align: top;
    display: none;
}

#dettagliUtente.dettaglio-visibile {
    display: inline-block;
}

.card-utente {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: white;
    width: 60%;
}

.card-utente:hover {
    opacity: .5;
}