<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div ng-app="myApp">
    <div ng-controller="contrUtente">
      <p>Filtra per nome: <input type="text" ng-model="filtroNome"/></p>
      <div class="users-card">
        <div class="card" ng-repeat="utente in utenti | filter:{name: filtroNome} |orderBy:'name'" ng-click="visPost(utente.id)">
            <h1 ng-bind="utente.name"></h1>         
            <h2 ng-repeat="(key,value) in utente.address" ng-bind="value"></h2>
        </div>
      </div>
      <div id="user-post">
        <ul ng-repeat="post in elenco">
          <li ng-click="visCommento(post.postId)">{{post.titolo}} <b>({{post.comment}})</b></li>
        </ul>
      </div>
    </div>

  </div>

  <script src="js/variabili.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/service_utenti.js"></script>
  <script src="js/services/service_post.js"></script>
  <script src="js/services/service_comments.js"></script>
</body>

</html>