.user-card {
  border: 3px solid black;
  border-radius: 5px;
  margin: 7px;
  word-wrap: break-word;
  padding: 2px;
  background-color: white;
  box-shadow: 3px 7px 3px 5px rgba(0, 0, 0, 0.2);
  animation-name: entry;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.user-card:focus-within {
  background-color: rgb(224, 224, 224);
}
.user-card:hover {
  background-color: rgb(224, 224, 224);
}
@keyframes entry {
  from{opacity: 0;};
  to{opacity: 1;};
}

.btn-show-post {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 3px;
}
.btn-show-post:hover {
  color: white;
  background-color: black;
}
.btn-show-post:focus {
 background-color: white;
 color: black;
}

.line {
  border: 2px solid black;
  border-radius: 5px;
  margin: 0px;
}

.invisible {
  display: none;
}

.post-card {
  border: 3px solid black;
  border-radius: 5px;
  margin: 7px;
  word-wrap: break-word;
  padding: 2px;
  background-color: white;
  box-shadow: 3px 7px 3px 5px rgba(0, 0, 0, 0.2);
  animation-name: entry;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.post-card ul {
  padding-top: 10px;
}
.post-card div:hover {
  background-color: rgb(224, 224, 224);
}

.close-button {
  padding: 0px;
  float: right;
  background-color: transparent;
  font-size: 30px;
  border: none;
}

.big-font {
  font-size: large;
}

.colore-bianco {
    color: white !important;
}

.verde {
    color: green;
}

.font-grande {
    font-size: 50px;
}

.clickable-users {
    cursor: pointer;
}

.clickable-users:hover {
    opacity: .5;
}

.blocco-input {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 10px;
}

.error-input {
  color: red;
  font-weight: bold;
}