#controller1{
    border: 4px solid red;
    padding: 10px;
    background-color:chartreuse;
    height: 500px;
    width: 400px;
}

#div-form{
    border: black;
    padding: 10px;
    background-color: yellow;
    height: 200px;
    width: 350px;

}


#controller2{
    border: 4px solid black;
    background-color: aqua;
    height: auto;
    width: auto;
}

#colore{
    border: 1px solid black;
    width: 600px;
    height: auto;
    background-color: aquamarine;
}

#ul_colorato{
    margin-left: 6%;
    background-color: antiquewhite;
    width: 350px;
    padding: 4%;

}

#div_destra{
    float: left;
    width: 400px;
    height: 300px;
    background-color:darksalmon;
}

#div_con_filtro{
    float: left;
    width: 400px;
    height: 400px;
}

#col{
    color: brown;
    border: 3px solid red;
}

#secondo_ul{
    padding: 40px;
}