<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="style.css" rel="stylesheet">

</head>

<body>

  <h1>Spieghiamo angularjs</h1>
  <p>Scaricalo da  <a href="https://angularjs.org/" target="_blank">qui</a></p>

  <div ng-app="myApp">

    <div ng-controller="myController">
        <div class="userCard">
            <div class="card" ng-repeat="user in listaUtenti" ng-click="displayPost(user.id)">
                <h1 ng-bind="user.name"></h1>
                <h2 ng-repeat="value in user.address" ng-bind="value"></h2>
            </div>
        </div>
        <div id="userPost">
            <ul ng-repeat="post in tempList">
                <li>{{post.title}} {{post.comment}}</li>
            </ul>
        </div>
    </div>
  </div>


  <script src="../lib/angular/angular.min.js"></script>
  <script src="lists.js"></script>
  <script src="app.js"></script>
</body>

</html>