<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular - Direttive Custom</title>

  <link rel="stylesheet" href="../provaAngularBase/style.css">
  <link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.css">

</head>

<body>
  <!--ng-app serve per definire il punto di inizio di angular-->
  <div ng-app="myApp">

    <div ng-controller="myController">
      <select ng-model="selectedItem" ng-options="citta.nome group by citta.regione for citta in elencoCitta"></select>

      <p>Città selezionata: {{selectedItem}}</p>
     
      <!--qui dentro richiamo la direttiva-->
      <my-select-city city-list="elencoCitta"></my-select-city>
      <test-direttiva prova-valore="valoreController"></test-direttiva>
      <test-direttiva prova-valore="nomeUtente"></test-direttiva>
    </div>

    <script type="text/ng-template" id="/mySelectCityTemplate.html">
      <ul>
        <li ng-repeat="citta in elencoCitta">{{citta.nome}}</li>
      </ul>
    </script>

    <script type="text/ng-template" id="/testDirettivaTpl.html">
      
      <div>
        <input ng-model="valore"/>
        <p>{{valore}}</p>
      </div>
    </script>
  </div>

  <script src="../lib/angular/angular.min.js"></script>
  <script src="direttiveCustom.js"></script>
</body>
</html>