<div ng-app="myapp">
    <div ng-controller="mioController as mioCtrl">
          <p>Nome<input type="text" ng-model="mioCtrl.user.name"></p> 
          <p>Surnome<input type="text" ng-model="mioCtrl.user.surname"></p> 
    </div>

    <!-- con ctrl as non vado a prendere lo scope -->
    <div ng-controller="salutaController as salutaCtrl">
        {{salutaCtrl.saluta(mioCtrl.user)}}
    </div>

</div>