.user-card {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    background-color: red;
    font-weight: bold;
}

.container {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #31463a 100%);
    height: 100%;
    width: 100%;
    padding-left: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 3px solid rgb(0, 0, 0);
}

.btn {
    margin-left: 25%;
}

.colore-bianco {
    color: white !important;
}
/*Stile link*/
a, a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.verde {
    color: green;
}

.font-grande {
    font-size: 50px;
}

.clickable-users {
    cursor: pointer;
}

.clickable-users:hover {
    opacity: .5;
}

.blocco-input {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 10px;
}

.invalid-field {
    border-color: red;
}

.valid-field {
    border-color: green;
}

.error-message {
    color: red;
    font-weight: bold;
}