.rosso {
  color: red !important;
}

.fontLarge {
  font-size: x-large;
}

.manina {
  cursor: pointer;
}
.manina:hover {
  opacity: 0.5;
}

.contenitore {
  position: relative;
  width: 45%;
  float: left;
  height: auto;
}

.close {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}
