<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="newStyle.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 id="h1"> Esercizio di recap di angular </h1>
    <hr>
    <!--apro il mio myApp che gestisce tutto -->
    <div ng-app="myApp" id="first_div">
        <!-- ho bisogno del mio controller-->
        <div ng-controller ="controller_1" id="controller_1">

            <p class="p">La tua lista TODO</p>
            <p class="p"><b>Titolo</b></p>
            <!--definiamo il modello che gestirà la view. i due input(tit e cont) sono nello $scope
            per questo non m serve portarle all'interno delle parentesi di appendiTODO()-->
            <input type="text" class="primo_input" ng-model="inputTitolo">
            <p class="p"> <b>Contenuto</b></p>
            <input type="text" class="primo_input" ng-model="inputContenuto">
            <br>
            <br>
            <!--creo il bottone con il ng-click, crea azione che salva il tit e cont in un array-->
            <button type="button" id="salva" ng-click="appendiTODO()" >Salva</button>
            <br>
            <hr>

            <p class="p"><b> ricapitoliamo cosa devi fare:</b></p>
            <div>
                <ul>
                    <li ng-repeat = "cosa in TODO">
                         <p>{{cosa.titolo}}</p>
                        <p>{{cosa.contenuto}}</p>
                    </li>
                </ul>
            </div>
            <div id="divFiltro">
                <p>qui c'è il filtro</p>
                <input type="text" ng-model="inputFiltro">
                <ul>
                    <li ng-repeat="cosa in TODO | filter:{titolo: inputFiltro}">{{cosa.titolo}}</li>
                </ul>

            </div>
        </div>
        <div ng-conttroller="visualizza">
            <h3>todo list</h3>
            <p>filtra un input: <input type="text" ng-model="filtrolista"></p>
            <ul>
                <li ng-repeat="item in todolistItem | filter{titolo:  filtrolista}">
                    <b>{{item.titolo}}</b>
                </li>
            </ul>
        </div>
    </div>
    
    <script src="lib/angular/angular.min.js"></script>
    <script src="app2.js"></script>
</body>
</html>