#h1{
    color: cornflowerblue;
}

#first_div{
    background-color: bisque;
    width: 600px;
    height: 1000px;
}
.primo_input{
    margin-top: 10px;
    margin-left: 10px;
    padding: 6px;
}

.p{
    margin-top: 30px;
    margin-left: 10px;

}

#salva{
    margin-left: 10px;
    padding: 10px;
}