<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJs Base</title>

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div ng-app="myApp">

    <div ng-controller ="myController">
    
      <div ng-repeat="utente in listaUtenti" class="lista">
        <h4>Nome:{{utente.name}} </h4> 
        <p>Username: {{utente.username}}</p>
        <p>Email:{{utente.email}}</p> 
        <p>Phone: {{utente.phone}}</p> 
        <p>Address: {{utente.address.street}}, {{utente.address.suite}}, {{utente.address.city}}, {{utente.address.zipcode}}</p>
        <p>Website: {{utente.website}}</p>
        
      </div>
  
    <div>
      <div ng-repeat="utente in listaUtenti" class="lista-b">
      <div ng-repeat="(key, value) in utente" >
      <p> <b>{{key}}:</b> {{value}}</p> 
    </div>

    
    </div>

  <script src="lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>