*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(219, 226, 226);
}

.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px gray;
}
.riga
{
    width: 80%;
}

.posizionebottoni
{
   margin-left: 10%;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.container
{
    margin-top: 12%;
    width:70%;
}

input[type="radio"]
{
    display: none;
    
}
#radio-label
{
    position: relative;
    color: black;
    border: 2px solid rgb(219, 226, 226);
    border-radius: 5px;
    padding: 10px 50px;
}

input[type="radio"]:checked + #radio-label
{
    background-color: rgb(219, 226, 226);
    color:black;
}

.invalid-field{
    border-color: red;
}

.valid-field{
    border-color: green;
}

.error-message
{
    color: red;
    font-style: bold;
}

.success-message{
    color:green;
    font-style: bold;
}




