
.card {
    padding: 10px;
    /* margini tra una card e l'altra*/
    margin: 5px; 
    /* ombra , dim e color*/
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); 
    /* al passaggio del mouse metti in risalto con second x di ritardo*/
    transition: box-shadow 0.10s ease-in-out; 
}
.card:hover {
    /* aumento dell'ombreggiatura al passaggio del*/
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.30), 
    1px 1px 10px rgba(0,0,0,0.30);
    
}


.post {
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    background-color: rgb(198, 243, 241);
}

.post h2 {
    font-size: 20px;
    color: red;
}

#btnClearPosts
{
    display: none;
}


#postInteractions{
    height: 20px;
    margin-bottom: 25px;
    
}


.post p {
    font-size: 15px;
}

