body {
    background-color: rgb(255, 253, 253);
}

#listaUtenti {
    width: 40%;
    min-height: 100px;
    background-color: rgb(229, 243, 235);
    display: inline-block;
}

#listaUtenti.dettaglio-visibile-lista {
    width: 40%;
}

#dettagliUtente {
    width: 30%;
    min-height: 100px;
    background-color: rgb(237, 240, 227);
    display: inline-block;
    vertical-align: top;
    display: none;
    border: solid 1px rgb(68, 33, 167);
}

#dettagliUtente.dettaglio-visibile {
    display: inline-block;
}

.card-utente {
    border: solid 1px rgb(68, 33, 167);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(241, 205, 205);
    width: 60%;
}

.card-utente:hover {
    opacity: .5;
}