.user-card {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    background-color: red;
    font-weight: bold;
}

.colore-bianco {
    color: white !important;
}

.verde {
    color: green;
}

.font-grande {
    font-size: 50px;
}

.clickable-users {
    cursor: pointer;
}

.clickable-users:hover {
    opacity: .5;
}