body {
    background-color: rgba(87, 190, 173, 0.986);
}

#lines {
    background-color: rgba(87, 190, 173, 0.986);
}

#deleteAll {
    background-color: red;
    color: white;
    height: 100px;
    width: 150px;
}

#sottotitolo {
    color: rebeccapurple;
}

#titolo {
    color: brown;
}

.red {
    color: red;
}

p {
    cursor: pointer;
}
